*{
    margin: 0;
    padding: 00;
}

header
{
    padding-bottom: 10px;
    background-color: grey;
}

.navigation
{
    background-color: black;
    height: 75px;
}

.navigation ul{
    list-style-type: none;
    float: right;
    line-height: 75px;
    font-size: 20px;
}

.navigation li{
    display: inline;
}

.navigation a{
    padding: 18px 16px;
    text-decoration: none;
    color: white;
    background-color: grey;
}

.mainbody{
    width: 600px;
    margin: 0 auto;
}

.mainbody h1{
    font-size: 45px;
    text-align: center;
    
}

.mainbody img{
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.mainbody p{
    text-align: center;
}